// 색상 정의
$grey: #dddfe2;
$grey2: #f1f3f6;
$grey28: #282a2e;
$greye7: #e7e9ec;
$grey6f: #6f736f;
$greyf6: #f6f8fb;
$white: #fff;
$black: #000;
$point: #6024c6;
$bannerBg1: #22273b;
$bannerBg2: #dee9fa;
$bannerBg3: #323933;
$bannerBg4: #090909;
$bannerBg5: #6e46fa;

// 이미지 경로
$imgUrl: '/assets/images/';

// 반응형 기준
$web: 1024px;

